/* Create Event Sidebar style rules */

#create-event-pane {
  display: none;
}

.show-create-sidebar
#create-event-pane {
  display: inherit;
  background-color: #ffffff;
  border-left: 1px solid black;
}

#create-event-pane input::-webkit-input-placeholder,
#create-event-pane textarea::-webkit-input-placeholder {
  font-weight: lighter;
  color: #e0e0e0;
}

#create-event-pane textarea::-webkit-input-placeholder {
  text-align: center;
}

#create-event-title-wrapper {
  padding-bottom: 15%;
  border-bottom: 1px solid #E5E5E5;
}

#create-event-title {
  height: 6rem;
  width: 100%;
  border: 0;
  outline: none;
  font-size: 17pt;
  text-align: center;
}

#create-event-location-wrapper {
  padding: 10% 0 10% 0;
  border-bottom: 1px solid #E5E5E5;
}

#create-event-location {
  height: 2rem;
  width: 100%;
  border: 0;
  outline: none;
  font-size: 12pt;
  text-align: center;
}

#create-event-description-wrapper {
  padding: 10% 0 10% 1%;
  border-bottom: 1px solid #E5E5E5;
}

#create-event-description {
  height: 25rem;
  width: 100%;
  border: 0;
  outline: none;
  font-size: 12pt;
  resize: none;
}

#submit-new-event-wrapper {
  padding-top: 5%;
}

#submit-new-event {
  cursor: pointer;
  width: 100%;
  height: 4rem;
  font-size: 20pt;
  font-weight:bold;
  color: #ffffff;
  background:#638cb5;
  border: 0;
  outline: none;
}
